/*=============== BUTTONS ===============*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
  gap: 0.5rem;
  line-height: 1.2;

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);

    &:hover {
      background-color: color-mix(in oklab, var(--color-primary) 90%, transparent);
    }
  }

  &--secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);

    &:hover {
      background-color: color-mix(in oklab, var(--color-bg) 90%, transparent);
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-on-primary);
    }
  }
}